html {
  
    box-sizing: border-box;
    margin: 0 ;
   
   
}
*, *:before, *:after {
    box-sizing: inherit;
}



body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 

}
.btn-secondary{
    margin-top:1rem;
}
.btn-primary{
    margin-top:1rem;
}
.container{
    background-color: white;
    padding: 5rem;
    padding-left: 10rem;
    margin-top: 5rem;
    border-radius: 2.5rem;
    display: block;
    justify-content: center;
    align-content: center center;
  
   
} 
.mostrar{
    display: flex;
    flex-direction: column;
   
}
/* agrego gastos al html*/
.listado,h3{
    font-size: 1.8rem;
    text-align: center;
    color: rgb(105, 103, 107);
}
/*inicio*/
h1{
    font-size: 50px;
}
h2{
    text-align:left;
}
span{
    max-width: 30px;
    color: rgb(94, 100, 100);
}

.contenedor{
    display: flex;
    flex-direction: column;
    text-align: center;
   padding: 50px;
}
.wrap{
    width:50%;
    
    margin: auto;
    text-align: center;

}
.widget{
    width: auto;
    margin:32px;
}
.widget p{
    display: inline-block;
    line-height: 10px;
}
.fecha{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 25px;
    color: white;
    margin-bottom:5px ;
    background: rgba(202, 135, 187, 0.5);
    padding: 20px;
 
    
}